<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gepc.proyectosensores">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ClaseGlobal"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="UV-PHYTON APP"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoSensores"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic"
        tools:targetApi="31">
        <activity
            android:name=".Insercion_Datos_Manuales_UA"
            android:exported="false" />
        <activity
            android:name=".Escoger_LTS_Manual_Admin"
            android:exported="false" />
        <activity
            android:name=".MostrarInfoSensores_UO"
            android:exported="false" />
        <activity
            android:name=".ModificarInfoSensores_UO"
            android:exported="false" />
        <activity
            android:name=".BusquedaSensores_UO"
            android:exported="false" />
        <activity
            android:name=".ModificarInfoSensores_UA"
            android:exported="false" />
        <activity
            android:name=".MostrarInfoSensores_UA"
            android:exported="false" />
        <activity
            android:name=".BusquedaSensores_UA"
            android:exported="false" />
        <activity
            android:name=".AgregarSensoR_UO"
            android:exported="false" />
        <activity
            android:name=".ModificarSensores_UO"
            android:exported="false" />
        <activity
            android:name=".MostrarSensores_UO"
            android:exported="false" />
        <activity
            android:name=".RegistroSensores_UO"
            android:exported="false" />
        <activity
            android:name=".AgregarSensor_UA"
            android:exported="false" />
        <activity
            android:name=".ModificarSensores_UA"
            android:exported="false" />
        <activity
            android:name=".MostrarSensores_UA"
            android:exported="false" />
        <activity
            android:name=".RegistroSensores_UA"
            android:exported="false" />
        <activity
            android:name=".AgregarCuidadosPiel_UA"
            android:exported="false" />
        <activity
            android:name=".ModificarCuidadosPiel_UA"
            android:exported="false" />
        <activity
            android:name=".RegistroDeCuidadosPiel_UA"
            android:exported="false" />
        <activity
            android:name=".AgregarTipsDelDia"
            android:exported="false" />
        <activity
            android:name=".ModificarTipsDelDia"
            android:exported="false" />
        <activity
            android:name=".RegistroDeTipsDelDia"
            android:exported="false" />
        <activity
            android:name=".MenudeAdministracionTP_CP_UA"
            android:exported="false" />
        <activity
            android:name=".AgregarTipodeSensor_UO"
            android:exported="false" />
        <activity
            android:name=".ModificarTipoSensor_UO"
            android:exported="false" />
        <activity
            android:name=".RegistrodeTipodeSensores_UO"
            android:exported="false" />
        <activity
            android:name=".AgregarTipodeSensor_UA"
            android:exported="false" />
        <activity
            android:name=".ModificarTipoSensor_UA"
            android:exported="false" />
        <activity
            android:name=".RegistrodeTipodeSensores_UA"
            android:exported="false" />
        <activity
            android:name=".AgregarLocalizacion_UO"
            android:exported="false" />
        <activity
            android:name=".ModificarLocalizacion_UO"
            android:exported="false" />
        <activity
            android:name=".RegistrodeSensores_UO"
            android:exported="false" />
        <activity
            android:name=".MenudeInforSenso_UO"
            android:exported="false" />
        <activity
            android:name=".AgregarLocalizacion_UA"
            android:exported="false" />
        <activity
            android:name=".ModificarLocalizacion_UA"
            android:exported="false" />
        <activity
            android:name=".RegistrodeSensores_UA"
            android:exported="false" />
        <activity
            android:name=".MenudeInforSenso_UA"
            android:exported="false" />
        <activity
            android:name=".DatosPorSensoPF_UO"
            android:exported="false" />
        <activity
            android:name=".DatosPorSensor_UO"
            android:exported="false" />
        <activity
            android:name=".DatosPorSensorPF_UA"
            android:exported="false" />
        <activity
            android:name=".DatosPorSensor_UA"
            android:exported="false" />
        <activity
            android:name=".AgregarUsersAD_OP"
            android:exported="false" />
        <activity
            android:name=".BuscarUser"
            android:exported="false" />
        <activity
            android:name=".ModificarDatosUsers"
            android:exported="false" />
        <activity
            android:name=".MostrarDatosUsers"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario_UA"
            android:exported="false" />
        <activity
            android:name=".InformacionAPP_UGene"
            android:exported="false" />
        <activity
            android:name=".RedesSocialesUGeneral"
            android:exported="false" />
        <activity
            android:name=".IndiceCalculado_UGeneral"
            android:exported="false" />
        <activity
            android:name=".EscogerLocalizacion_UGeneral"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipalOperadores"
            android:exported="true" />
        <activity
            android:name=".BienvenidaUserOperador"
            android:exported="true" />
        <activity
            android:name=".BienvenidaUserAdmin"
            android:exported="true" />
        <activity
            android:name=".BienvenidaUserGeneral"
            android:exported="true" />
        <activity
            android:name=".AgregarUsuario"
            android:exported="true" />
        <activity
            android:name=".loginNormal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipalAdmin"
            android:exported="true" />
    </application>

</manifest>